<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Game</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>

<body>
    <div class="game">
        <div class="scoreContainer">
            <div class="username"><%= username %></div>
            <div class="hiScore">High Score</div>
            <div class="scorenum">
                <div class="scorebox"><%= highscore %></div>
            </div>
        </div>
        <div class="container">
            <h1>Press A Key To Start</h1>
            <button id="startButton" class="mobile-only">Start Game</button>
            <div class="box-container">
                <div class="green box"></div>
                <div class="red box"></div>
                <div class="yellow box"></div>
                <div class="blue box"></div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="scripts/script.js"></script>
</body>
<footer>Made by Vishal</footer>
</html>